<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
  <div class="menu_section">
    <h3>2017/5/16</h3>
    <ul class="nav side-menu">
      <li><a><i class="fa fa-home"></i> 首页管理 <span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
          <li><a href="__APP__/Admin/Index/index">页面管理</a></li>              
        </ul>
      </li>
      <li><a><i class="fa fa-edit"></i> 平台概况 <span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
          <li><a href="__APP__/Admin/Introduction/introduction">平台概况</a></li>
          <li><a href="__APP__/Admin/Introduction/notice">通知公告</a></li>
          <li><a href="__APP__/Admin/Introduction/connect">联系我们</a></li>
        </ul>
      </li>
      <li><a><i class="fa fa-desktop"></i> 学科交流 <span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
          <li><a href="__APP__/Admin/Course/course">实践学习类</a></li>
          <li><a href="__APP__/Admin/Course/course1">专业基础类</a></li>
          <li><a href="__APP__/Admin/Course/course2">作物生产类</a></li>
          <li><a href="__APP__/Admin/Course/course3">植物保护类</a></li>
          <li><a href="__APP__/Admin/Course/course4">创新实验课程</a></li>
        </ul>
      </li>
      <li><a><i class="fa fa-mortar-board"></i> 资源共享 <span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
          <li><a href="__APP__/Admin/Source/notice">资源共享发布</a></li>
          <li><a href="__APP__/Admin/Source/picture">图片</a></li>
          <li><a href="__APP__/Admin/Source/document">文件</a></li>
          <li><a href="__APP__/Admin/Source/video">视频</a></li>
          <li><a href="__APP__/Admin/Source/zip">其他</a></li>
      	</ul>
      <li><a><i class="fa fa-share-alt-square"></i>综合交流 <span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
            <li><a href="__APP__/Admin/Comp/comp">综合交流</a></li>
        </ul>
      </li>
      <li><a><i class="fa fa-flask"></i>资源上传<span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
          <li><a href="__APP__/Admin/Source/pic_update">图片</a></li>
          <li><a href="__APP__/Admin/Source/doc_update">文件</a></li>
          <li><a href="__APP__/Admin/Source/vid_update">视频</a></li>
          <li><a href="__APP__/Admin/Source/zip_update">其他</a></li>
        </ul>
      </li>
      <li><a><i class="fa fa-user"></i>用户管理<span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
          <li><a href="__APP__/Admin/User/index">管理</a></li>
          <li><a href="__APP__/Admin/User/authority">权限设置</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>