<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
 	<meta name="viewport" content="width=device-width,user-scalable=yes" />
 	<title>实验教学中心互动平台</title>
	<link rel="shortcut icon" href="__ROOT__/logo.ico">
	<link rel="stylesheet" href="__PUBLIC__/face/css/public.css"/>
	<link rel="stylesheet" href="__PUBLIC__/face/css/showitem.css"/>

</head>
<body>
	<div id="Cheader">
		<include file="./Application/Home/View/Index/public/header.html" />
	</div>

	<div id="Cnav">
		<include file="./Application/Home/View/Index/public/nav.html" />
	</div>

	<div id="Cmain">
		<div class="Ccontainer">
			<div id="main_nav">
				<section>
					<h3>综合交流</h3>
					<ul class="ultop">
						<li><a href="__APP__/Home/comp/comp">最近主题</a></li>
						<li><a href="__APP__/Home/comp/comp">热门主题</a></li>
					</ul>
				</section>
			</div>
			<div class="rightc">
				<div id="theme">
					<span class="theme_contant">发布人的主题从大山深处穿越而来记载着一个个美丽的一个个美丽的传说传说能营造出绚丽</span>
					<sapn class="theme_des">主题的简述：浪漫的五月总能营造出绚丽多姿的色彩，总能姿意 出淡雅清新的情愫。五月风，越过高山的坎坎坷坷，拂去了岁月的 尘埃，五月的风，如诗人的笔，如画家的五彩，将 绿色覆盖每一片荒凉，让大地换上了新装。五月风，洋溢着笑脸， 灿烂着每一朵花儿，用希望的手叩响了沉睡的天空 ，吹散了糜烂，吹走了腐味，带来了清晰。五月风，轻轻地从耳边 吹过，柔柔的，软软的，象一朵云彩轻拂着我的脸 。她是从春天的阳光中走来，从大山深处穿越而来，带着花草的清 香，带着放飞的梦想，一路欢歌，把大地点缀得如 诗如画。五月风，记载着一个个美丽的传说，每一个传说都化做一 片云彩，弥漫在整个天空。</sapn>
					<div class="clr"></div>
					<span class="theme_publisher">来自XXXXX</span>
					<div class="clr"></div>
				</div>
				<div id="comment">
					<div class="total">
						XXX个回答
					</div>
					<div class="sigleconmment">
						<div class="s_m_left">
							<span class="commentor">评论人</span>
							<div class="clr"></div>
							<picture class="replay">回复</picture>
							<a class="praise" href=""><picture></picture>赞</a>
						</div>
						<div class="s_m_right">
						<p class="comment_con">内容克己奉公还u是个好废话use和ifiiu啊是u额发挥啊还是进口的回复给 ua遏房价很高哈手机客户端发给撒额飞机和嘎数据库福嘎搜素的衣服高交会馆啊收到回复吧u呀故事我一个肺结核阿苏对啊是快递发箍牙是的风格卷四地方覅u啊死都反挂闪电分倦色覅</p>
						<span class="comment_to">回复给：XXXXXX</span>
						<span class="comment_time">2017-05-06</span>
						</div>
						<div class="clr"></div>
					</div>
					<div class="sigleconmment">
						<div class="s_m_left">
							<span class="commentor">评论人</span>
							<div class="clr"></div>
							<picture class="replay">回复</picture>
							<a class="praise" href=""><picture></picture>赞</a>
						</div>
						<div class="s_m_right">
						<p class="comment_con">内容克己奉公还u是个好废话use和ifiiu啊是u额发挥啊还是进口的回复给 ua遏房价很高哈手机客户端发给撒额飞机和嘎数据库福嘎搜素的衣服高交会馆啊收到回复吧u呀故事我一个肺结核阿苏对啊是快递发箍牙是的风格卷四地方覅u啊死都反挂闪电分倦色覅</p>
						<span class="comment_to">回复给：XXXXXX</span>
						<span class="comment_time">2017-05-06</span>
						</div>
						<div class="clr"></div>
					</div>
					<div class="sigleconmment">
						<div class="s_m_left">
							<span class="commentor">评论人</span>
							<div class="clr"></div>
							<picture class="replay">回复</picture>
							<a class="praise" href=""><picture></picture>赞</a>
						</div>
						<div class="s_m_right">
						<p class="comment_con">内容克己奉公还u是个好废话use和ifiiu啊是u额发挥啊还是进口的回复给 ua遏房价很高哈手机客户端发给撒额飞机和嘎数据库福嘎搜素的衣服高交会馆啊收到回复吧u呀故事我一个肺结核阿苏对啊是快递发箍牙是的风格卷四地方覅u啊死都反挂闪电分倦色覅</p>
						<span class="comment_to">回复给：XXXXXX</span>
						<span class="comment_time">2017-05-06</span>
						</div>
						<div class="clr"></div>
					</div>
					<div class="clr"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="Chidden">
		<div class="re_frame">
			<form id="reply_h">
				<div class="con_input">
				<textarea id="textarea" class='input' type="text" name="title" placeholder="回复给：XXXXXX"></textarea> 
				</div>
				<div class="clr"></div>
				<div class="con_input"><input id='submit' type="submit" value="回复"></div>
				<div class="clr"></div>

			</form>
		</div>
	</div>
	<div class="clr"></div>
	</div>
	<div id="Cfooter">
		<include file="./Application/Home/View/Index/public/footer.html" />
	</div>
		<script type="text/javascript" src="__PUBLIC__/face/js/showitem.js"></script>
		<script type="text/javascript">
			document.getElementById("submit").onclick = function(){
				Form.style.display = "none";
				document.getElementById('Cheader').style.filter = ' ';
				document.getElementById('Cnav').style.filter    = 'blur(0px) ';
				document.getElementById('Cmain').style.filter   = 'blur(0px) ';
				document.getElementById('Cfooter').style.filter = 'blur(0px) ';
			// $.ajax({  
   //              type: "POST",  
   //              url:"__APP__/Home/.......",  
   //              data:{'username':$("#username").val(),
   //              	  'password':$("#password").val()},// 序列化表单值  
   //              async: true,  
   //              error: function(request) {  
   //                  alert(request.readyState + ' ' +request.status );  
   //              },  
   //              success: function(data) {  
			// 		if(data['flag'] == 1){
			// 			window.location.href="__APP__/Home/Index/index";
			// 		}else {
   //                  	alert(data['message']);
			// 		}
			// 	}  
   //          }); 
		}
		</script>
    <script src="__PUBLIC__/public/js/jquery-1.8.3.min.js" ></script>
	<script type="text/javascript" src="__PUBLIC__/face/js/logre.js"></script>
		
</body>
</html>
