<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
 	<meta name="viewport" content="width=device-width,user-scalable=yes" />
 	<title>实验教学中心互动平台</title>
	<link rel="shortcut icon" href="__ROOT__/logo.ico">
	<link rel="stylesheet" href="__PUBLIC__/face/css/public.css"/>
	<link rel="stylesheet" href="__PUBLIC__/face/css/application.css"/>
 
</head>
<body>
	<div id="Cheader">
		<include file="./Application/Home/View/Index/Public/header.html" />
	</div>

	<div id="Cnav">
		<include file="./Application/Home/View/Index/Public/nav.html" />
	</div>

	<div id="Cmain">
		<div class="Ccontainer">
			<div id="main_nav">
			<section>
				<h3>个人中心</h3>
				<ul class="ultop">
					<li><a href="__APP__/Home/User/index">基本信息</a></li>
					<li><a href="__APP__/Home/User/application">我的申请</a></li>
					<li><a href="__APP__/Home/User/message">我的消息</a></li>
					<li><a href="__APP__/Home/User/theme">我的关注</a></li>

				</ul>
			</section>
			</div>
			<div class="rightc">
				<div id="topicCon">
					<div class="mini_nav">
						<span class="mini_title">我的申请</span>
					</div>
					<div class="themeapp">
						<div class="minihead">
							<h3 class="m_h_title"><a>话题申请</a></h3>
						</div>
						<div class="float_lis">
							<div class="list">
								<ul>
									<volist name="themeApp" id="items">
										<php>
											$items['msdate'] = date("Y-m-d");
											switch($items['msdo']) {
												case 2: $after = "通过"; break;
												case 0: $after = "待审"; break;
												case 1: $after = "拒绝"; break;
												default: $after = "待审";
											}
										</php>
										<li ><a class="ex_item" href="__APP__/Home/User/appdetail1/id/<{$items.id}>"><div class="point"></div><p><b>[<php>echo $after;</php>]</b><{$items.msname}></p><span><{$items.msdate}></span></a></li>
									</volist>
								</ul>
							</div>
						</div>
					</div>
					<div class="themeapp">
						<div class="minihead">
							<h3 class="m_h_title"><a>评论申请</a></h3>
						</div>
						<div class="float_lis">
							<div class="list">
								<ul>
									<volist name="ansApp" id="items">
										<php>
											$items['asdate'] = date("Y-m-d");
											$items['asct'] = preg_replace('/<([a-z]+?)\s+?.*?>/i','<$1>',$items['asct']);
											$qian=array(" ","　","\t","\n","\r");
											$hou=array("","","","","");
											$items['asct'] = str_replace($qian,$hou,$items['asct']);
											$items['asct'] = strip_tags($items['asct']);
										</php>
										<li ><a class="ex_item" href="__APP__/Home/User/appdetail2/id/<{$items.id}>"><div class="point"></div><p><b>[待审]</b><{$items.asct}></p><span><{$items.asdate}></span></a></li>
									</volist>
								</ul>
							</div>
						</div>
					</div>
					<div class="sourceapp">
						<div class="minihead">
						<h3 class="m_h_title"><a>资源提交</a></h3>
						</div>
						<div class="float_lis">
							<div class="list">
								<ul>
									<volist name="allResource" id="vo">
										<php>
											switch($allResource['rsable']) {
												case 1: $after = "通过"; break;
												case 0: $after = "待审"; break;
												case 2: $after = "拒绝"; break;
												default: $after = "待审";
											}
										</php>
										<!--<li ><a class="ex_item" href="__APP__/Home/User/appdetail3/id/<{$vo.id}>"><div class="point"></div><p><b>[<php> // echo $after;</php>]</b><{$vo.rsname}></p><span><{$vo.rsdate}></span></a></li>-->
										<li ><a class="ex_item" href=""><div class="point"></div><p><b>[<php>echo $after;</php>]</b><{$vo.rsname}></p><span><{$vo.rsdate}></span></a></li>
									</volist>
								</ul>
							</div>
						</div>
					</div>
					<div>
						<!--<p>主题申请</p>-->
						<!--<div>-->
							<!--<volist name="themeApp" id="items">-->
								<!--<div class="topic">-->
									<!--<div class="substance">-->
										<!--<div class="substance_top">-->
											<!--<div class="s_t_title"><a href="__APP__/Home/course/showitem/id/<{$items.id}>">讨论交流主题 <{$items.msname}></a></div>-->
											<!--<div class="author">-->
												<!--<span  class="s_t_l"><img  src="__PUBLIC__/face/images/icon/time.png" alt="" class="icon_a" title="发布时间" ) no-repeat;"><{$items.msdate}></span>-->
											<!--</div>-->
										<!--</div>-->
										<!--<div class="clr"></div>-->
										<!--<div class="substance_down">-->
											<!--<div class="s_d_reply"><{$items.msct}></div>-->
										<!--</div>-->
									<!--</div>-->
								<!--</div>-->
							<!--</volist>-->
						<!--</div>-->
					<!--</div>-->
					<!--<p>++++++++++++++++++++++++++++++++++++++++++++++++++++++</p>-->
					<!--<div>-->
						<!--<p>评论申请</p>-->
						<!--<p>主题内容</p>-->
						<!--<volist name="ansApp" id="vo">-->
							<!--<div class="topic">-->
								<!--<div class="substance">-->
									<!--<div class="substance_top">-->
										<!--<div class="s_t_title"><a href="__APP__/Home/course/showitem/id/<{$vo[allans].id}>">讨论交流主题 <{$vo[allans].msname}></a></div>-->
									<!--</div>-->
									<!--<div class="clr"></div>-->
									<!--<div class="substance_down">-->
										<!--<div class="s_d_reply"><{$vo[allans].msct}></div>-->
										<!--<div class="clr"></div>-->
									<!--</div>-->
								<!--</div>-->

								<!--<p>我的评论.....待审核</p>-->
								<!--<{$vo.asct}>-->
								<!--<{$vo.asdate}>-->
							<!--</div>-->
						<!--</volist>-->
					<!--</div>-->
				</div>
			</div>

		</div>
	
	</div>
	<div class="clr"></div>
	<div id="Cfooter">
		<include file="./Application/Home/View/Index/Public/footer.html" />
	</div>
</body>
</html>
