<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
 	<meta name="viewport" content="width=device-width,user-scalable=yes" />
 	<title>实验教学中心互动平台</title>
	<link rel="shortcut icon" href="__ROOT__/logo.ico">
	<link rel="stylesheet" href="__PUBLIC__/face/css/public.css"/>
	<link rel="stylesheet" href="__PUBLIC__/face/css/message.css"/>
 
</head>
<body>
	<div id="Cheader">
		<include file="./Application/Home/View/Index/Public/header.html" />
	</div>

	<div id="Cnav">
		<include file="./Application/Home/View/Index/Public/nav.html" />
	</div>

	<div id="Cmain">
		<div class="Ccontainer">
			<div id="main_nav">
			<section>
				<h3>个人中心</h3>
				<ul class="ultop">
					<li><a href="__APP__/Home/User/index">基本信息</a></li>
					<li><a href="__APP__/Home/User/application">我的申请</a></li>
					<li><a href="__APP__/Home/User/message">我的消息</a></li>
					<li><a href="__APP__/Home/User/theme">我的关注</a></li>

				</ul>
			</section>
			</div>
			<div class="rightc">
				<div id="topicCon">
					<div class="mini_nav">
						<span class="mini_title">我的消息</span>
					</div>
					<div class="mesn">
						<div id="comment">
							<volist name="themeApp" id="items">
								<volist name="items['allans']" id="vo">
									<div class="sigleconmment">
										<div class="s_m_left">
											<span class="commentor">评论人：<{$vo.asowner}></span>
												<div class="clr"></div>
											<picture class="replay">回复</picture>
										</div>
										<div class="s_m_right">
											<p class="comment_con"><{$vo.asct}></p>
											<span class="comment_time"><{$vo.asdate}></span>
										</div>
										<div class="clr"></div>
									</div>
								</volist>
							</volist>
							<div class="clr"></div>
						</div>

					</div>
				</div>
			</div>

		</div>
	
	</div>
	<div class="clr"></div>
	<div id="Cfooter">
		<include file="./Application/Home/View/Index/Public/footer.html" />
	</div>
</body>
</html>
