<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
 	<meta name="viewport" content="width=device-width,user-scalable=yes" />
 	<title>实验教学中心互动平台</title>
	<link rel="shortcut icon" href="__ROOT__/logo.ico">
	<link rel="stylesheet" href="__PUBLIC__/face/css/public.css"/>
	<link rel="stylesheet" href="__PUBLIC__/face/css/video.css"/>
	<link rel="stylesheet" href="__PUBLIC__/Css/bootstrap.css"/>
	<!-- <link rel="stylesheet" href="__PUBLIC__/Css/bootstrap.min.css"/> -->
</head>
<body>
	<div id="Cheader">
		<include file="./Application/Home/View/Index/public/header.html" />
	</div>

	<div id="Cnav">
		<include file="./Application/Home/View/Index/public/nav.html" />
	</div>

	<div id="Cmain">
		<div class="Ccontainer">
			<div id="main_nav">
				<section>
					<h3>资源共享</h3>
					<ul class="ultop">
						<li><a href="__APP__/Home/source/picture.html">图片</a></li>
						<li><a href="__APP__/Home/source/document.html">文件</a></li>
						<li><a href="__APP__/Home/source/video.html">视频</a></li>
						<li><a href="__APP__/Home/source/zip.html">其他</a></li>
					</ul>
				</section>
			</div>
			<div class="rightc_nhot">
				<div class="mini_nav">
					<span class="mini_title">视频</span>
				</div>
				<div class="search_Button">
					<form class="searchform" action="__URL__/search/type/3" method="post">
						<div class="con_input"><input class='input' type="text" name="search"><input id="Ssubmit" type="submit" value="视频搜索" ></div><div class="clr"></div>
					</form>
				</div>
				<div class="videocon">
					<div class="veidoex">
						<volist name="data" id="items">
							<video controls="controls">
								<source src="__ROOT__/<{$items.rsway}>" type="video/ogg">
							</video>
						</volist>
						<nav style="text-align:center;" >
							<ul class="pagination">
								<{$page}>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="clr"></div>
	</div>
	<div id="Cfooter">
		<include file="./Application/Home/View/Index/public/footer.html" />
	</div>
    <script src="__PUBLIC__/public/js/jquery-1.8.3.min.js" ></script>
	<script type="text/javascript" src="__PUBLIC__/face/js/logre.js"></script>
	
</body>
</html>