<div class="Ccontainer">
    <div id="nav">
        <ul id="nav_mul">
            <li class="nav_first">
                <a id="nav_main" href="__APP__/Home/index/main">首页</a>
            </li>
            <li class="nav_first">
                <a id="nav_main" href="__APP__/Home/introduction/introduction">平台概况</a>
                <div id="nav_hidden3">
                <ul >
                    <li><a href="__APP__/Home/introduction/introduction">平台概况</a></li>
                    <li><a href="__APP__/Home/introduction/notice">通知公告</a></li>
                    <li><a href="__APP__/Home/introduction/connect">联系我们</a></li>
                </ul>
                </div>
            </li>  
            <li class="nav_first">
                <a id="nav_course" href="__APP__/Home/course/course">学科交流</a>
                <div id="nav_hidden1">
                <ul >
                    <li><a href="__APP__/Home/course/course?">实践实习类</a></li>
                    <li><a href="__APP__/Home/course/course?">专业基础类</a></li>
                    <li><a href="__APP__/Home/course/course?">作物生产类</a></li>
                    <li><a href="__APP__/Home/course/course?">植物保护类</a></li>
                    <li><a href="__APP__/Home/course/course?">创新实验课程</a></li>
                </ul>
                </div>
            </li>
            <li class="nav_first">
                <a id="nav_source" href="__APP__/Home/source/source">资源共享</a>
                <div id="nav_hidden2">
                <ul >
                    <li><a href="__APP__/Home/source/picture">图片</a></li>
                    <li><a href="__APP__/Home/source/document">文件</a></li>
                    <li><a href="__APP__/Home/source/video">视频</a></li>
                    <li><a href="__APP__/Home/source/zip">其他</a></li>
                </ul>
                </div>
            </li>
            <li class="nav_first">
               <a id="nav_comp" id="nav_comp" href="__APP__/Home/comp/comp">综合交流</a>
            </li>
            <li class="nav_first">
                <a id="nav_main" href="__APP__/Home/source/pic_update">资源上传</a>
            </li>
                      
        </ul>
    </div>
</div>
